<!doctype html>
<html lang="en">
<!--begin::Head-->

<partial name="_Head" />
<!--end::Head-->
<!--begin::Body-->

<body class="layout-fixed sidebar-expand-lg sidebar-open bg-body-tertiary">
    <!--begin::App Wrapper-->
    <div class="app-wrapper">
        <!--begin::Header-->
        <partial name="_Header" />
        <!--end::Header-->
        <!--begin::Sidebar-->
        <partial name="_Sidebar" />
        <!--end::Sidebar-->
        <!--begin::App Main-->
        <main class="app-main">
            <!--begin::App Content Top Area-->
            <div class="app-content-top-area">
                <!--begin::Container-->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <div>App Content Top Area</div>
                        </div>
                        <div class="col-md-6 text-end">
                            <button type="submit" class="btn btn-primary" name="save" value="create">
                                Create Admin
                            </button>
                        </div>
                    </div>
                </div>
                <!--end::Container-->
            </div>
            <!--end::App Content Bottom Area-->
            <!--begin::App Content Header-->
            <div class="app-content-header">
                <!--begin::Container-->
                <div class="container-fluid">
                    <!--begin::Row-->
                    <div class="row">
                        <div class="col-sm-8">
                            <h3 class="mb-0">Layout Custom Area</h3>
                        </div>
                        <div class="col-sm-4">
                            <ol class="breadcrumb float-sm-end">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Fixed Layout</li>
                            </ol>
                        </div>
                    </div>
                    <!--end::Row-->
                </div>
                <!--end::Container-->
            </div>
            <!--end::App Content Header-->
            <!--begin::App Content-->
            <div class="app-content">
                <!--begin::Container-->
                <div class="container-fluid">
                    <!--begin::Row-->
                    <div class="row">
                        <div class="col-12">
                            
                                
                                <!-- Default box -->
                                
                                @RenderBody()
                                
                                <!-- /.card -->
                            
                        </div>
                        <!--end::Row-->
                    </div>
                    <!--end::Container-->
                </div>
                <!--end::App Content-->
                
        </main>
        <!--end::App Main-->
        <!--begin::Footer-->
        <partial name="_Footer" />
        <!--end::Footer-->
    </div>
    <!--end::App Wrapper-->
    <!--begin::Script-->
    <partial name="_Scripts" />
    <!--end::Script-->
</body>
<!--end::Body-->
</html>