@model Product
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1 class="mb-5">Create Product</h1>
    <form method="post" asp-controller="products" asp-action="store" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="name" class="form-label">Product Name</label>
            <input asp-for="Name" type="text" class="form-control" id="name">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Product Price</label>
            <input asp-for="Price" type="text" class="form-control" id="price">
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Product Description</label>
            <textarea class="form-control" id="description" rows="3" asp-for="Description"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="rate" class="form-label">Product Rate</label>
            <input asp-for="Rate" type="text" class="form-control" id="rate">
            <span asp-validation-for="Rate" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Product Image</label>
            <input class="form-control" type="file" id="image" asp-for="Image">
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <select class="form-select" aria-label="Default select example" asp-for="CategoryId">
                <option selected>Category</option>
                    @foreach (var cat in ViewBag.Categories)
                    {
                        <option value="@cat.Id">@cat.Name</option>
                    }
            </select>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-success">Save</button>
    </form>
</body>

</html>
@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <partial name="_ValidationScriptsPartial" />
}